/*** CSS RESET ***/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*** BODY ***/
body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-size: 1.4em;
  line-height: 1.2em;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/*** HEADER SECTION ***/
header {
  width: 100%;
  background-color: #000;
  color: #fff;
  display: block;
  justify-content: center;
  text-align: center;
  opacity: 0.5;
  /*** FIXED HEADER ***/
  position: fixed;
  top: 0;
  overflow: hidden;
}

.header-info {
  display: flex;
  justify-content: space-between;
  height: 2rem;
}

.header-info > p {
  padding: 3px 10px;
}

.header-nav {
  padding: 3px 10px;
}

/*** MAIN SECTION ***/
.landing {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  background-color: bisque;
}

.bg-placeholder {
  height: 100vh;
  background-image: url("./assets/landing-img.jpg");
  background-position: center; /* Center the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

.todo-list {
  margin: auto;
  padding: 2px;
}

.todo-item {
  display: flex;
  justify-content: center;
}

.product-container ul {
  list-style-type: none;
  padding: 0.5rem;
}

.product-container li {
  width: 400px;
  border-left: 3px solid palevioletred;
  border-bottom: 3px solid palevioletred;
  /* border: 3px solid palevioletred; */
  border-radius: 5px;
  text-align: justify;
}

.product-container .product-img {
  width: 350px;
}

.product-container,
h3,
p {
  padding: 0.5rem;
}
.car-list,
.product-list,
.contact-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 2.5rem;
  justify-content: space-around;
}

.contact-card {
  width: 250px;
  height: auto;
  padding: 5px;
}

.contact-card h3 {
  text-align: center;
}

.contact-card img {
  width: 250px;
  height: auto;
  object-fit: cover;
}

.joke-list {
  margin: auto;
  padding: 2rem 5rem;
  background-color: hotpink;
}

.joke-list li {
  padding: 0.5rem;
}

/*** FOOTER SECTION ***/
footer {
  background-color: #000;
  color: #fff;
  display: block;
  justify-content: center;
  text-align: center;
}
